.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.first-name{

    height: 20px;
    width: 100px;
}
.last-name{
    height: 20px;
    width: 100px;
}
button{
    height: 20px;
    width: 100px;
}